* {
  box-sizing: border-box;
  font-family: "Comic Sans MS";
}

.navbar-brand a{ text-decoration: none;
 font-size: 2em; color: black;
  }
#header-nav{  background-color:#adad85; 
border:1.5px solid black; border-radius: 0px;}

#chicken{
	margin-top: 25px;
}

h1 {
  font-size: 2em;
}

section h2 {
  font-size: 1.7em;
}

section p {
  padding: 0px 10px 6px 10px;
}

section {
  background-color: #adad85;
  border: 2px solid;
  margin: 0px 0px 25px 0px;
 
}

div ul, div li {
  border: 1px solid;
}
